.miniNav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 0px 20px;
}

.linkContainer {
  position: relative;
  padding: 20px 0px;
}

.link {
  font-size: 14px;
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00d2e0;
}

.dropdownContainer {
  display: flex;
  align-items: center;
}

.dropdown {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
