.col1 {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col3 {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 992px) {
  .col2 {
    margin-right: 10px;
    margin-left: 10px;
  }
}
